body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
.up {
  margin: 10% 0px 0px 0px;
}
.header {
  display: grid;
  justify-content: center;
  text-align: center;
}
h1 {
  margin: 0px 0px 30px 0px;
  text-transform: uppercase;
  color: #1f2b48;
}
h3 {
  margin: 0;
  color: #5db179;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.haql {
  width: 90%;
  height: 30%;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  gap: 10px;
  box-shadow: 0 0 10px 0 black;
  background-color: white;
  border-radius: 3px;
}
input {
  width: 560px;
  height: 20px;
  border: none;
  background-color: #eee;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}
.top,
.bottom {
  display: flex;
  gap: 20px;
}
input[type="submit"] {
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: #2bcc6e;
  text-transform: uppercase;
}
.button {
  margin-top: 30px;
}
